.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;

  border: none;
  background: transparent;
  cursor: pointer;

  font-size: 3rem;
  color: #333;

  z-index: 1000;
}

.back-to-top:hover {
  color: #ff0000;
  border: none;
  box-shadow: none;
}
